* {
    /* border-color: #7f8c8d; */
    /* background-color: #ecf0f1;*/
    outline: none;
}

html, body {
    background-color: white;
    min-height: 90%;
    height: 90%;
}

body {
    padding: 0;
    margin: 0;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content {
    font-size: 14pt;
    color: black;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.leyenda {
    cursor: default;
    width: 400px;
}

.cotizacion {
    cursor: default;
    width: 200px; 
}

.fechaCotizacion {
    margin: 30px 0 0 0;
    width: 400px;
    cursor: default;
}

.consulta, .historico {
    margin: 30px 0 0 0;
    width: 400px;
}

.bg {
    height: 10%;
    background-image: url("https://previews.123rf.com/images/acarapi/acarapi1509/acarapi150900001/44629152-fondo-del-dinero-con-un-mont%C3%B3n-de-nuevos-billetes-de-100-d%C3%B3lares-estadounidenses-listo-para-utilizar-como-.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.leyenda2, .leyendaVariacion {
    cursor: default;
    width: 250px;
}